<div class="section" id="blog_section" style="<%= layout_bg %>">
    <section class="pressroom <%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>">
        <%= raw '<div class="patteren"></div>' if layout.get_field("pattern") %>
        <div class="container">
            <div class="">
                <div class="title animate fadeIn">
                    <h1 class="light"><%= layout.the_title %> <%= layout.the_edit_link %></h1>
                    <% if (sub_title = layout.the_field("sub_title")).present? %>
                        <br/>
                        <h2><%= sub_title %></h2>
                    <% end %>
                    <div class="title-detail"><%= raw layout.the_content %></div>
                </div>
                <div class="space"></div>
                <%= render partial: "partials/list_items", locals: {posts: current_site.the_posts("post").limit(layout.get_field("number_items", 6)), from_home: true} %>
            </div>
        </div>
    </section>
</div>